.header-section {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Make the header options span the entire width */
}


/* buttons */


/* OPTIONS BUTTONS */

.options-button,
.settings-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.options-button:hover,
.settings-button:hover {
    background-color: #ddd;
    /* Add a background color on hover for visual feedback */
}

.options-button {
    margin-right: auto;
    /* Push the options button to the left */
}


/*  DROPDOWNs */

.dropdown {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #ffffff00;
    display: none;
}

.back-button {
    cursor: pointer;
    padding: 10px;
}

.option-button {
    cursor: pointer;
    padding: 10px;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    background-color: transparent;
}

.option-button i {
    margin-right: 10px;
}

.settings-button {
    margin-left: auto;
    /* Push the settings button to the right */
}


/* Style for Font Awesome icons */


/* SETTINGS DROPDOWN */

#settingsDropdown {
    display: none;
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    /* Align to the right side of the screen */
    height: 100%;
    width: 50%;
    /* Adjust as needed, considering padding, margin, borders, etc. */
    background-color: #ffffff;
    /* Add your desired background color */
}

#settingsDropdown h1 {
    margin-left: 20%;
}